main{
  margin-top: 30px;
  min-height: calc(100vh - 78px - 144px);
}

.text__main {
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  align-self: center;
}
.text__ilc {
  padding: 20px;
  color: greenyellow;
}
