header {
  box-shadow: 0px 10px 30px 3px rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

a > .logo-header-esc {
  width: 40%;
}
.menu-burger {
  visibility: hidden;
}

.cartWidget{
  display: flex;
  margin-right: 30px;
}

.cartWidget > svg{
  margin:5px 0px 0px 20px;
}
.cartWidget > span{
  font-size: 14px;
}

@media (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo-header-esc {
    width: 40%;
  }

  .cartWidget {
    align-self: flex-end;
    width: 5%;
  }
 

  .menu-burger {
    visibility: visible;
    font-size: 10px;
  }
}
