.cart-container {
    margin-top: 100px;
}

.cartItem-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    background-color: rgb(63, 75, 19);
    margin: 10px 10px;
}

.cartItem-container >h3{
    background-color: inherit;
}

.cartItem-container > img{
    height: 100px;
    width: auto;
}

.cartItem-container > button {
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.clear-cart{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 15%;
    cursor: pointer;
}
.mensaje{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    color: white;
    width: fit-content;
    background-color: none
    ;
}