.navBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
} 

.logo-header, h1{
    color: greenyellow;
    width: fit-content;
    padding: 40px 60px;
    font-size: 30px;
}

.ul__navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.li__navbar, a{
    list-style-type: none;
    text-decoration-line: none;
    color: white;
    padding: 5px 10px;
}
